* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}
/* remove the bullet point from the un orderd list
   set back-ground color*/

.nav-bar ul {
    list-style-type: none; /*remove dot for un-ordered list*/
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: grey;


}
.nav-bar li{
    width: 1;
}
.nav-bar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    
    
}
.nav-bar a:hover{
    background-color: rgb(21, 20, 20);
}

#timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh
}
#timer-circle {
    display: flex;
    background-color: rgb(172, 160, 136);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    
    
}
#start-button {
    width: 50px;
    height: 30px;
    background-color:#f9f3f3;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color :rgb(21, 20, 20)
}
#start-button:hover{
    background-color: rgb(211, 208, 208);
}



